
body {
    margin: 0;
    padding: 0;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    background-color: #000000;

}

.background {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/d1532433-07b1-4e39-a920-0f08b81a489e/ed31f905-5708-4356-a25a-8f6cebf46e7f/BR-pt-20231120-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-color: rgb(0, 0, 0, 0.7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section figure img {
    width: 180px;
    margin-left: 120px;
}



select {
    padding: 5px 30px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    background: transparent;
    color: #fff;
    font-size: 15px;
}

.bnt {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #e50914;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-right: 150px;

}

.bnt:hover {
    background-color: #b81e26;
    cursor: pointer;
}

.enter {
    display: flex;
    gap: 20px;
}


.info {
    text-align: center;
    color: #ffff;
    margin: 80px 30px;

}

.info h1 {
    font-size: 45px;
    font-weight: 700;
    max-width: 900px;
    margin: auto;

}

.info p {
    font-size: 25px;
    font-weight: 400;
}

.info h3 {
    font-size: 20px;
    font-weight: 400;
}


form {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button-vamos-la {
    padding: 15px 30px;
    width: 180px;
    font-weight: bold;
    background-color: #e50914;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 20px;

}


.input-email {
    padding: 20px 35px;
    width: 440px;
    border-radius: 5px;
    border: 1px solid #818181;
    font-size: 17px;
    background-color: rgba(27, 27, 27, 0.5);
    font-weight: bolder;
    flex-wrap: wrap;
}

.button-vamos-la:hover {
    background-color: #b81e26;
    cursor: pointer;

}

.popcorn {
    display: flex;
    justify-content: center;
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin: 0 100px;
    color: #fff;
    margin-top: -60px;
    
}

.popcorn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

}

.popcorn-info{
    margin-right: 50px;
    margin-left: 50px;

}

.popcorn-info p{
    font-size: 19px;
}


.popcorn-info a {
    color: rgb(68, 142, 244);
    font-size: 18px;

}

.tv {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin: 90px
}

.tv video{
    margin-left: 45px;
}
.tv h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: -15px;

}

.tv p {
    font-size: 23px;
    max-width: 700px;

}

hr {
    padding: 4px;
    background-color: rgb(26, 26, 26);
    border: none;
}

.assista {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 100px
}

.assista-info {
    margin-left: 60px;
}

.assista-info h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: -15px;

}

.assista p {
    font-size: 23px;
    max-width: 700px;
}

.assista2{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 60px
}
.assista2 img {
    width: 500px;
    
}

.assista2 h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: -15px;
}
.assista22 p {
    font-size: 23px;
    max-width: 700px;
}


.assista3 {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.assista3 figure img{
    width: 500px;
    margin-left: -130px;

}

.assista33{
    margin-left: -80px;
}

.assista33 h2 {
    font-size: 3em;
    font-weight: 700;
    max-width: 500px;
}

.assista3 p {
    font-size: 23px;
}



.assista4{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 90px;

}
.assista4 img {
    width: 500px;
    margin-left: 45px;

}

.assista4 h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: -15px;
    max-width: 700px;
}
.assista4 p {
    font-size: 23px;
    max-width: 700px;
}

.assista5 {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.assista5 img {
    width: 400px;
    margin-left: -100px;
}

.assista5 h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: -15px;
    
}

.assista5 p {
    font-size: 23px;
    max-width: 700px;
}


.perguntas h1{
    font-size: 50px ;
    font-weight: 700;
    margin-top: 90px;
    margin-bottom: 40px;
    text-align: center;
    color: #fff;

}

.perguntas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 0 auto;  
}



section details summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c2c2c;
    padding: 10px 30px;
    margin-top: 8px;
    border-bottom: 1px solid #000000;
    color: #fff;
    font-size: 23px;
    font-weight: 500;
    list-style: none;
    position: relative;
    cursor: pointer;
}
section details p{
    padding: 30px;
    color: #ffffff;
    font-size: 23px;
    margin-bottom: 10px;
    background-color: rgb(45, 45, 45);
    margin-top: 0px;
}

section details summary::after {
    content: '+';
    font-size: 50px;
    font-weight: lighter;
    
}

section details[open] summary::after {
    transform: rotate(45deg);
}


.assinatura h3 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 50px;
    align-items: center;
    font-weight: 500;
    color:#fff ;
}

.assinatura{
    margin-bottom: 60px;
}

.input-email {
    padding: 10px;
    margin-right: 10px; 
}

.button-vamos-la2 {
    padding: 15px 30px;
    width: 160px;
    font-weight: bold;
    background-color: #e50914;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

footer{
    margin-top: 90px;
    margin-left: 80px;
    margin-bottom: 90px;
    font-size: 20px;

}

.rodape a:active{
    color: #e50914;
}

footer{
    font-size: 16px;

}


.rodape{
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
}

.rodape ul li{
    font-size: 14px;
    margin-top: 15px;
}

.rodape ul{
    padding: 0;
}

.fim select{
    margin-top: 15px;
}

.fim p{
    margin-top: 20px;
    font-size: 14px;
}

footer p{
    color: rgba(255,255,255,0.7);
}

footer a{
    color: rgba(255,255,255,0.7);
}
